* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100hw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    max-width: 90%;
    background: rgba(0, 0, 0, 0.3) url(../img/bg03.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    border: 1px solid rgba(29, 28, 28, 0.486);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(53, 20, 20, 0.5);
}

.page-title {
    font-size: 3rem;
    text-align: center;
    margin: 10px auto;
    color: #fff;
    font-weight: 600;
}

.input {
    color: #fff;
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.input label {
    font-size: 2rem;
}

select {
    position: relative;
    display: block;
    width: 500px;
    max-width: 90%;
    height: 2.2rem;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8f8f8;
    color: rgb(75, 73, 73);
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
}

select option {
    font-size: 1rem;
    font-weight: bold;
    width: 500px;
    max-width: 90%;
}

.info-container {
    position: relative;
    width: 500px;
    height: 150px;
    max-width: 90%;
    padding: 15px;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.cotacao-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFF;
}

.moeda-conteiner {
    font-size: 1.7rem;
    font-weight: bold;
}

.info-cotação {
    font-size: 1.2rem;
    font-weight: 500;
}

.valor-container {
    height: 50px;
    position: relative;
    font-size: 2.5rem;
    width: 70%;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.valor-container .tendenciaDeVariacao {
    position: relative;
    height: 100%;
    width: 50px;
    margin-left: 30px;
    display: grid;
    place-items: center;
}

.valor-container ion-icon {
    text-align: center;
    display: none;
}

.valor-container.up {
    color: rgb(16, 82, 3);
}

.valor-container.up #up {
    display: block;
}

.valor-container.dow {
    color: rgb(252, 7, 7);
}

.valor-container.dow #dow {
    display: block;
}

.container-entrada {
    width: 450px;
    max-width: 90%;
    background: rgba(212, 119, 102, 0.849);
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-subtitle {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 70%;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #fff;
}

input {
    display: inline-block;
    padding: 10px;
    margin: auto;
    width: 35%;
    color: rgb(75, 73, 73);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 5px;
    border: 0 none;
    outline: 0;
}

.valorConvertido {
    margin-top: 20px;
    display: block;
    width: 90%;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 4rem;
    border-radius: 5px;
    border: 0 none;
    color: #FFF;
    background: #00000050;
}

.loader {
    position: absolute;
    height: 100%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: #4CD964;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}